<?xml version="1.0"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    testdox="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>
        <testsuite name="snapshot">
            <directory suffix="Test.php">./tests/Snapshot</directory>
        </testsuite>
    </testsuites>
    
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./includes</directory>
            <file>./partyminder.php</file>
        </include>
        <exclude>
            <directory>./tests</directory>
            <directory>./templates</directory>
            <file>./includes/class-activator.php</file>
            <file>./includes/class-deactivator.php</file>
        </exclude>
    </coverage>
    
    <php>
        <const name="WP_TESTS_DOMAIN" value="example.org" />
        <const name="WP_TESTS_EMAIL" value="admin@example.org" />
        <const name="WP_TESTS_TITLE" value="Test Blog" />
        <const name="WP_PHP_BINARY" value="php" />
        <const name="WP_TESTS_FORCE_KNOWN_BUGS" value="true" />
        
        <!-- Plugin-specific constants -->
        <const name="PARTYMINDER_PLUGIN_DIR" value="./"/>
        <const name="PARTYMINDER_PLUGIN_URL" value="http://example.org/wp-content/plugins/partyminder/"/>
        <const name="PARTYMINDER_VERSION" value="1.0.0"/>
    </php>
    
    <logging>
        <junit outputFile="tests/results/junit.xml"/>
    </logging>
</phpunit>